@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
  }
  
  .navbar a {
    font-size: 1.25rem;
    font-weight: bold;
    color: #4f46e5;
    text-decoration: none;
  }
  