@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
  }
  
.navbar a {
  font-size: 1.25rem;
  font-weight: bold;
  color: #4f46e5;
  text-decoration: none;
}

//home
.new-post {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.3s ease, transform 1.3s ease;
}

.new-post.visible {
  opacity: 1;
  transform: translateY(0);
}